<section class="section center section-add-burger yellow accent-4">
  <div class="container">
    <div class="row">
      <div class="col m12 s12">
        <h3>Eat the Burger</h3>
      </div>
      <div class="col m12 s12">
        <img src="/assets/img/burger.png" class="responsive-img">
      </div>
      <div class="col m12 s12">
        <form class="add-burger">
          <div class="input-field">
            <textarea placeholder="burger" id="burger-name" class="materialize-textarea" maxlength="255" required></textarea>
          </div>
          <div class="input-field">
            <button class="btn red lighten-1" type="submit"><span class="material-icons left">add_circle</span> Add Burger</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
<section class="section center section-all-burgers yellow accent-4">
  <div class="container">
    <div class="row">
      <div class="col m6 s6">
        <ul class="collection with-header left-align uneaten-burgers">
          <li class="collection-header red lighten-1 white-text"><h5>Uneaten Burgers</h5></li>
          <li class="collection-item">
            <div class="row">
              {{#each burgers}}
              {{#unless devoured}}
                  {{> burgers/burger-block devoured=0}}
              {{/unless}}
              {{/each}}
            </div>
          </li>
        </ul>
      </div>
      <div class="col m6 s6">
        <ul class="collection with-header left-align eaten-burgers">
          <li class="collection-header red lighten-1 white-text"><h5>Eaten Burgers</h5></li>
          <li class="collection-item">
            <div class="row">
              {{#each burgers}}
              {{#if devoured}}
                {{> burgers/burger-block devoured=1}}
              {{/if}}
              {{/each}}
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>