<section class="section center">
  <div class="container">
    <div class="row">
      <div class="col m12 s12">
        <h6>Eat the Burger</h6>
      </div>
      <div class="col m12 s12">
        <img src="/assets/img/burger.png">
        <div>Icons made by <a href="https://www.flaticon.com/authors/twitter" title="Twitter">Twitter</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
      </div>
    </div>
  </div>
</section>
<section class="section center">
  <div class="container">
    <div class="row">
      <div class="col m4 s4">
        <ul class="collection with-header left-align">
          <li class="collection-header"><h5>Uneaten Burgers</h5></li>
          {{#each burgers}}
          {{#unless devoured}}
              {{> burgers/burger-block devoured=0}}
          {{/unless}}
          {{/each}}
        </ul>
      </div>
      <div class="col m4 s4">
        <form class="add-burger">
          <div class="input-field">
            <textarea placeholder="burger" id="burger-name" class="materialize-textarea burger-input" maxlength="255" required></textarea>
          </div>
          <div class="input-field">
            <button class="btn" type="submit">Add Burger</button>
          </div>
        </form>
      </div>
      <div class="col m4 s4">
        <ul class="collection with-header left-align">
          <li class="collection-header"><h5>Eaten Burgers</h5></li>
          {{#each burgers}}
          {{#if devoured}}
            {{> burgers/burger-block devoured=1}}
          {{/if}}
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
</section>