<div class="col m12">
  <div>
    <input type="text" value="{{burger_name}}" readonly>
    {{#if devoured}}{{else}}<button class="btn red devour-burger" data-id="{{id}}">Devour It</button>{{/if}}
  </div>
</div>