<li class="collection-item">
  <div>{{burger_name}}{{#if devoured}}{{else}}<a href="#" class="secondary-content devour-burger" data-id="{{id}}"><span class="fas fa-utensils"></span></a></div>{{/if}}
</li>